*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Orbitron',sans-serif;
background:black;
overflow:hidden;
color:white;
}

.background{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at top left, rgba(128,0,255,0.6), transparent 30%),
radial-gradient(circle at bottom right, rgba(255,0,128,0.5), transparent 30%),
radial-gradient(circle at center, rgba(0,200,255,0.2), transparent 40%),
#050010;
z-index:-1;
animation:pulse 6s infinite alternate;
}

@keyframes pulse{
from{transform:scale(1);}
to{transform:scale(1.05);}
}

.container{
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

h1{
font-size:7rem;
font-weight:900;
letter-spacing:8px;
text-shadow:0 0 10px white,0 0 30px yellow,0 0 70px yellow;
}

.subtitle{
margin-top:20px;
margin-bottom:80px;
letter-spacing:5px;
opacity:0.8;
}

.games{
display:flex;
flex-direction:column;
gap:30px;
}

.game-button{
width:700px;
height:120px;
border:none;
border-radius:25px;
font-size:2rem;
font-weight:bold;
color:white;
cursor:pointer;
transition:0.3s;
letter-spacing:4px;
}

.purple{
background:linear-gradient(90deg,#6a00ff,#c000ff);
box-shadow:0 0 20px #a200ff,0 0 60px #a200ff;
}

.red{
background:linear-gradient(90deg,#ff0000,#ff7300);
box-shadow:0 0 20px red,0 0 60px red;
}

.blue{
background:linear-gradient(90deg,#0077ff,#00d9ff);
box-shadow:0 0 20px #00aaff,0 0 60px #00aaff;
}

.game-button:hover{
transform:scale(1.05);
filter:brightness(1.2);
}
